<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>문제 풀어보기</title>
</head>
<body>
<h1>Questions</h1>
<form th:each="question, questionStat : ${questions}" th:id="'form_' + ${questionStat.index}">
    <h2 th:text="${question.questionText}"></h2>
    <ul>
        <li th:each="option : ${question.options}">
            <p th:text="${option}"></p>
        </li>
    </ul>
    <input type="text" th:id="'answer_' + ${questionStat.index}" th:placeholder="'답을 입력해주세요.'" required>
    <button type="button" th:data-index="${questionStat.index}" th:data-answer="${question.answer}" onclick="checkAnswer(this.getAttribute('data-index'), this.getAttribute('data-answer'), this)">채점하기</button>
    <p th:id="'result_' + ${questionStat.index}" style="display: none"></p>
    <p th:id="'correctAnswerLabel_' + ${questionStat.index}" style="display: none">정답: <span th:text="${question.answer}" style="font-weight: bold" th:id="'correctAnswer_' + ${questionStat.index}"></span></p>
</form>

<script th:inline="javascript">
    function checkAnswer(index, answer, button) {
        var userAnswer = document.getElementById('answer_' + index).value;

        var resultDisplay = document.getElementById('result_' + index);
        var correctAnswerDisplay = document.getElementById('correctAnswer_' + index);
        var correctAnswerLabel = document.getElementById('correctAnswerLabel_' + index);
        if (userAnswer === answer) {
            resultDisplay.textContent = "정답입니다!";
            resultDisplay.style.color = "green";
        } else {
            resultDisplay.textContent = "오답입니다.";
            resultDisplay.style.color = "red";
        }
        resultDisplay.style.display = "block";
        correctAnswerDisplay.style.display = "block";
        correctAnswerLabel.style.display = "block";
        button.style.display = "none";
    }
</script>
</body>
</html>
